.header, .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.header__title {
  width: 100%;
  height: 36px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
}
.header__title__container {
  width: 1110px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-items: center;
}
@media (max-width: 1170px) {
  .header__title__container {
    width: 800px;
    background-color: lightcoral;
  }
}
@media (max-width: 640px) {
  .header__title__container {
    width: 480px;
    background-color: lightgreen;
  }
}
.header__title__container--login {
  display: flex;
  align-items: center;
  font-weight: 700;
  height: 36px;
  font-size: 14px;
}
.header__title__container--feedback {
  display: flex;
  align-items: center;
  font-weight: 700;
  height: 36px;
  margin-right: 50px;
  font-size: 14px;
}

.header__main {
  height: 83px;
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1170px) {
  .header__main {
    width: 800px;
  }
}
@media (max-width: 640px) {
  .header__main {
    width: 480px;
  }
}
.header__main__container {
  width: 650px;
  height: 30px;
  border: 1px solid #E8E8EE;
  display: flex;
  justify-content: center;
}
@media (max-width: 1170px) {
  .header__main__container {
    width: 400px;
  }
}
@media (max-width: 640px) {
  .header__main__container {
    width: 200px;
  }
}
.header__main--search {
  width: 70%;
  line-height: 30px;
  vertical-align: baseline;
  color: #828282;
  padding-left: 10px;
}
.header__main--select {
  width: 30%;
  line-height: 30px;
  vertical-align: baseline;
  color: #828282;
}

.postButton {
  height: 44px;
  width: 220px;
  color: white;
  background: linear-gradient(#32228A, #745ACD);
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 1170px) {
  .postButton {
    width: 160px;
  }
}
@media (max-width: 640px) {
  .postButton {
    width: 100px;
  }
}

.main {
  width: 100%;
  background-color: #FCFCFC;
  border-top: 1px solid #E8E8EE;
}

.main__carusel, .main__carusel__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__carusel {
  height: 220px;
}
.main__carusel__container {
  height: 170px;
  width: 1110px;
  border: 1px solid blue;
}
@media (max-width: 1170px) {
  .main__carusel__container {
    width: 800px;
  }
}
@media (max-width: 640px) {
  .main__carusel__container {
    width: 480px;
  }
}
.main__carusel__container--item:first-child {
  margin-right: 20px;
}
.main__carusel__container--item:last-child {
  margin-left: 20px;
}
.main__carusel__container--item {
  width: 33%;
  height: 100%;
  border: 1px solid black;
}
@media (max-width: 1170px) {
  .main__carusel__container--item {
    border: 1px solid red;
  }
}
@media (max-width: 640px) {
  .main__carusel__container--item {
    border: 1px solid green;
  }
}

.main__title {
  width: 1110px;
  height: 60px;
  border-top: 1px solid #E8E8EE;
  line-height: 60px;
  vertical-align: baseline;
}
@media (max-width: 1170px) {
  .main__title {
    width: 800px;
  }
}
@media (max-width: 640px) {
  .main__title {
    width: 480px;
  }
}

.main__container {
  width: 1110px;
  height: 1120px;
  border: 1px solid #E8E8EE;
  background-color: white;
}
@media (max-width: 1170px) {
  .main__container {
    width: 800px;
  }
}
@media (max-width: 640px) {
  .main__container {
    width: 480px;
  }
}

/*# sourceMappingURL=style.css.map */
