.rectBox {
  width: 1000px;
  height: 500px;
  position: relative;
}
$rainbow: purple aqua lime yellow orange red;
@for $i from 1 through 6 {
  .rect#{$i} {
  content: '';
  width: #{$i*100 + 100}px;
  height: 50px;
  position: absolute;
  top: #{$i*30 + 100}px;
  left: #{450 - $i*50}px;
  z-index: #{600 - $i*100};
  background-color: nth($rainbow, $i);
  transition: background-color 1s, transform 2s;
  &:hover {
    background-color: #FFCCCC;
  }
  &:active {
    transform: rotate(360deg);
  }
}
}
.box {
  width: 500px;
  height: 500px;
  display: inline-block;
  background-color: lightgray;
  position: relative;
}
.line__first {
  width: 400px;
  height: 50px;
  position: absolute;
  background-color: lightpink;
  top: 100px;
  left: 50px;
  z-index: 100;
}
.line__second {
  width: 50px;
  height: 400px;
  position: absolute;
  background-color: lightseagreen;
  top: 50px;
  left: 350px;
  z-index: 200;
}
.line__third {
  width: 400px;
  height: 50px;
  position: absolute;
  background-color:lightsalmon;
  top: 350px;
  left: 50px;
  z-index: 300;
}
.line__four{
  width: 50px;
  height: 400px;
  position: absolute;
  background-color:lightskyblue;
  top: 50px;
  left: 100px;
  z-index: 400;
}
.solution1 {
  background: linear-gradient(to bottom, lightskyblue 50px, transparent 50px, transparent 100px, lightskyblue 100px);
}
.solution2 {
  clip-path: polygon(0% 0%, 0% 100%, 0 74%, 0 12%, 100% 12%, 100% 25%, 0 25%, 0 100%, 100% 100%, 100% 0)
}
.solution3::after {
  content: '';
  display: block;
  position: absolute;
  background: lightpink;
  top: 50px;
  left: 0px;
  width: 50px;
  height: 50px;
}